/* tr,td{
       border: 1px solid black ; 

} */
#invstats{
    float:left;
}

#monsterHp{
    clear: both;
}
ul{
    font-size: 10px;
}
img{
    display: inline-block;
    width: 100%;
    border:10px black dashed;
}
.flex-container{
    display: flex;
}
.flex-item{
    width:200px;
    flex-grow:1;
}
.flex-item1{
    width:500px;
    flex-grow:7;
}