tr,td{
       border: 1px solid black ; 

}
#invstats{
    float:left;
}

#monsterHp{
    clear: both;
    float:right;
}

img{
    display: inline-block;
    width: 200px;
}
.flex-container{
    display: flex;
}
.flex-item{
    width:200px;
    flex-grow:1;
}
.flex-item1{
    width:200px;
    flex-grow:3;
}