<nav class="navbar navbar-dark navbar-expand-sm" style="background-color: navy;">
  <div class="container">
      <div class="navbar-nav">
          <!-- <h3 class="nav-item nav-link"><a routerLink="about">About</a></h3> -->
          <h4 class="nav-item nav-link"><a routerLink="createCharacter">Create Character</a></h4>
          <h4 class="nav-item nav-link"><a routerLink="deleteCharacter">Delete Character</a></h4>
          <h4 class="nav-item nav-link"><a routerLink="manageInventory">Manage Inventory</a></h4>
          <h4 class="nav-item nav-link"><a routerLink="home">Home</a></h4>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
