<div class="container text-center" style="padding:180px">
  <h3>Login To RYAN's BATTLE SIMULATOR!</h3>
  <br>

  <form>

      <label for="Username">User Name:</label>
      <input class="form-control" type="text" id="Username">

      <label for="Password">Password:</label>
      <input class="form-control" type="password" id="Password">
      <br>
      <button class="btn btn-primary float-center" id="Submit" (click)="loginUser()" >Submit</button>
  </form>

</div>

    <app-my-account *ngIf="ifLogin"></app-my-account>

 