
  <table style="width:600px; margin-left:auto; margin-right:auto;  margin-top:20%;" class="table-sm table border">
    <thead class="thead-light" style="text-align:center">
      <tr>      
          <th colspan="6" >Login To RYAN's BATTLE SIMULATOR!</th>
      </tr>
    </thead>
      <tr>
          <td>User Name:</td>
          <td><input type="text" id="Username"></td>
          <td></td>
          <td>Password:</td>
          <td><input type="text" id="Password"></td>
          <td></td>
      </tr>
      <tr>
          <td colspan="6" style="text-align:center" >
            <button type="button" id="Submit" (click)="loginUser()" >Submit</button></td>
      </tr>
    </table>

    <app-my-account *ngIf="ifLogin"></app-my-account>

 