
<div class="container text-center" style="padding:180px">
    <h1>Create Your Hero</h1>
    <br>
<form>         
        <label for="name">Enter Name:</label>
        <input class="form-control" type="text" id="name">
        <br>
        <label for="type">Select A Battle Class</label>
        <select class="form-control" id="class">
            <option>Choose:</option>
            <option value="Melee">Melee</option>
            <option value="Range">Range</option>
            <option value="Mage">Mage</option>
            </select>
            <br>
            <button class="btn btn-primary float-center" id="create" type="submit" style="width:300px">Create</button>
</form>
</div>

